CONFIG_BLINK_LED_GPIO=y
CONFIG_BLINK_GPIO=8

# Enable I2S driver
CONFIG_DRIVER_I2S_ENABLE=y

# Enable I2C driver
CONFIG_DRIVER_I2C_ENABLE=y

# Set log level
CONFIG_LOG_DEFAULT_LEVEL_INFO=y

# FreeRTOS configurations
CONFIG_FREERTOS_HZ=1000